body {
  margin: 0;
  padding: 0;
}

.sub {
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 5px 0;
}

.label {
  font-size: 1.2rem;
}

.form-data,
.book-list,
.table-data {
  justify-content: center;
  align-items: center;
}

th {
  font-size: 1.2rem;
}

.table {
  border: 1px solid black;
  border-radius: 5px;
}

.delete {
  outline: none;
  border-radius: 3px;
  border: none;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
}
